<div ng-controller="DietsCtrl" >

    <h2 class="podnaslovi">Diets</h2>

    <hr>

    <ol>
        <div ng-repeat="diet in diets | orderBy: diet.Name">
            <li>
                <a href="#/dietdetail/{{diet.Id}}">{{ diet.Name}}</a>
                <p>{{diet.Description}}</p>
            </li>
            <button ng-show="!addToProgram" ng-click="addToProgram = true">Add to program</button>
            <ul ng-show="addToProgram" ng-repeat="program in programs">
               <a ng-click="AddDietToProgram(diet,program)"> <li>{{program.Name}}</li>
                {{training.Name}}
                </a>
            </ul>
        </div>
    </ol>

</div>
