<div ng-controller="ProgramCtrl" >

    <h2 class="podnaslovi">Programs</h2>


    <span ng-show="!add && authenticated" class="text-center form-group">
        <input type="submit" class="btn btn-success btn-lg pull-right addBtn" value="Add program" ng-click="add=true"/>
    </span>

    <hr>

    <div ng-show="add">
        <form role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-model="program.name" type="name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea ng_model="program.description" type="description" class="form-control" id="description"> </textarea>
            </div>

            <button ng-click="addProgram(program)" type="submit" class="btn btn-default">Add</button>
            <button ng-click="add=false" class="btn btn-default">Cancel</button>
        </form>
    </div>


    <div class="row" ng-show="!add">
        <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4" ng-repeat="program in programs | orderBy: program.Name">
            <div class="thumbnail bootsnipp-thumb">
                <a href="#/programdetail/{{program.Id}}">{{ program.Name}}</a>
                <span ng-show="ifAuthor(program)">
                    <a ng-click="deleteProgram(program.Id)" href>
                        <img src="images/dell.png">
                    </a>
                </span>
                <p>{{program.Description}}</p>
                <h6>{{program.Trainings.length}}</h6>
            </div>
        </div>
    </div>
</div>