<div ng-controller="ProgramDetailCtrl">

    <h2 class="podnaslovi">Program details</h2>

    <hr>

    <div class="details" ng-show="!edit">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">&nbsp;&nbsp;Name</span>
            <label type="text" class="form-control" aria-describedby="basic-addon1">{{program.Name}}</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">&nbsp;&nbsp;About</span>
            <label type="text" class="form-control" aria-describedby="basic-addon1">{{program.Description}}</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">&nbsp;Duration</span>
            <label type="text" class="form-control" aria-describedby="basic-addon1">{{program.Duration}}</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">&nbsp;&nbsp;Rating &nbsp;&nbsp;</span>
            <label type="text" class="form-control" aria-describedby="basic-addon1">{{program.Rating}}</label>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon5">Trainings</span>
            <label type="text" class="form-control" aria-describedby="basic-addon1">{{program.Duration}}</label>
        </div>
    </div>

    <br>
    <br>

    <div ng-show="!edit && $root.authenticated" class="text-center form-group">
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Edit" ng-click="edit=true"/>
    </div>
    <div ng-show="edit">
        <form role="form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input ng-model="program.Name" placeholder="{{program.Description}}" type="name" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea ng_model="program.Description" placeholder="{{program.Description}}" type="description" class="form-control" id="description"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Duration:</label>
                <input ng-model="program.Duration" placeholder="{{program.Duration}}" type="name" class="form-control" id="duration">
            </div>
            <div class="form-group">
                <label for="name">Rating:</label>
                <input ng-model="program.Rating" placeholder="{{program.Rating}}" type="name" class="form-control" id="rating">
            </div>

            <button ng-click="editProgram(program)" type="submit" class="btn btn-default">Save</button>
            <button ng-click="edit=false" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>
