/* login css */

.naslov{
    color: #A1BEE6;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
}
.logintext{
    color: #337ab7;
    font-size: 26px;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {
    margin-bottom: 60px;

}
.welcome{
    font-size: 17px;
}
hr {
    border: 0px none;
    height: 3px;
    background-image: linear-gradient(to right, white, #28649D, white);
    margin-top: 43px;
}
.podnaslovi{
    color: #337ab7;
    margin-bottom: -29px;
    margin-top: 8px;
    margin-left: 21px;
}
.addBtn {
    margin-right: 28px;
    margin-top: -12px;
}
#spinner{ /* da stavimo sliku u sredinu */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -33px;
}
.input-group-addon:first-child {
    border-right: 0px none;
    width: 111px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 686px;
}
.details{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /*background-color: #b0e0e6;*/
}